.container-border {
  border: 2.5px solid #9896f1;
  opacity: 0.8;
  border-radius: 10px;
}

.search {
  text-align: center;
}

.btn {
  background-color: #9896f1;
  color: #fff;
}

body {
  padding: 100px 0 320px;
  background: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
}

h1 {
  margin-bottom: 0px;
}

h3 {
  color: #020438;
  font-family: "Lora", serif;
  text-align: center;
  display: inline-block;
}
h2 {
  font-family: "Lora", serif;
  text-align: center;
  display: inline-block;
  font-size: 15px;
}

.day {
  font-family: "Lora", serif;
  text-align: center;
  margin-right: 20px;
  margin-top: 5px;
}

ul {
  list-style: none;
  text-align: right;
  margin-top: 50px;
}

.top-div {
  margin-top: 20px;
}

.github-url {
  text-align: center;
}

a {
  color: #9896f1;
}

.temperature {
  font-weight: bold;
  text-align: center;
  display: inline-block;
  font-size: 54px;
  margin-left: 9px;
}

.units {
  font-size: 16px;
  position: relative;
  top: -19px;
}

.icon {
  margin-top: 12px;
  margin-left: 6px;
}

.detailsResponse {
  margin-right: 30px;
  margin-left: -40px;
}

.details {
  margin-left: 10px;
}
